---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/0?append_to_response=credits,reviews&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: UTF-8
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Mon, 09 Dec 2024 20:40:48 GMT
recorded_with: VCR 6.3.1
