---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: UTF-8
      string: '{"success":false,"status_code":6,"status_message":"Invalid id: The
        pre-requisite id is invalid or not found."}'
  recorded_at: Fri, 06 Dec 2024 18:20:41 GMT
recorded_with: VCR 6.3.1
