---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/122?append_to_response=credits,reviews&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"0c81c137a71e25b03f2d757b3f33638c"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/5JrZAtyk3LwiiAWLW0kwz41XZJC.jpg","belongs_to_collection":{"id":119,"name":"The
        Lord of the Rings Collection","poster_path":"/oENY593nKRVL2PnxXsMtlh8izb4.jpg","backdrop_path":"/bccR2CGTWVVSZAG0yqmy3DIvhTX.jpg"},"budget":94000000,"genres":[{"id":12,"name":"Adventure"},{"id":14,"name":"Fantasy"},{"id":28,"name":"Action"}],"homepage":"http://www.lordoftherings.net","id":122,"imdb_id":"tt0167260","origin_country":["US"],"original_language":"en","original_title":"The
        Lord of the Rings: The Return of the King","overview":"As armies mass for
        a final battle that will decide the fate of the world--and powerful, ancient
        forces of Light and Dark compete to determine the outcome--one member of the
        Fellowship of the Ring is revealed as the noble heir to the throne of the
        Kings of Men. Yet, the sole hope for triumph over evil lies with a brave hobbit,
        Frodo, who, accompanied by his loyal friend Sam and the hideous, wretched
        Gollum, ventures deep into the very dark heart of Mordor on his seemingly
        impossible quest to destroy the Ring of Power.​","popularity":158.981,"poster_path":"/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg","production_companies":[{"id":12,"logo_path":"/2ycs64eqV5rqKYHyQK0GVoKGvfX.png","name":"New
        Line Cinema","origin_country":"US"},{"id":11,"logo_path":"/6FAuASQHybRkZUk08p9PzSs9ezM.png","name":"WingNut
        Films","origin_country":"NZ"},{"id":5237,"logo_path":"/mlnr7vsBHvLye8oEb5A76C0t8x9.png","name":"The
        Saul Zaentz Company","origin_country":"US"}],"production_countries":[{"iso_3166_1":"NZ","name":"New
        Zealand"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2003-12-17","revenue":1118888979,"runtime":201,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"There
        can be no triumph without loss. No victory without suffering. No freedom without
        sacrifice.","title":"The Lord of the Rings: The Return of the King","video":false,"vote_average":8.5,"vote_count":24274,"credits":{"cast":[{"adult":false,"gender":2,"id":109,"known_for_department":"Acting","name":"Elijah
        Wood","original_name":"Elijah Wood","popularity":25.003,"profile_path":"/7UKRbJBNG7mxBl2QQc5XsAh6F8B.jpg","cast_id":12,"character":"Frodo","credit_id":"52fe421bc3a36847f80046f7","order":0},{"adult":false,"gender":2,"id":1327,"known_for_department":"Acting","name":"Ian
        McKellen","original_name":"Ian McKellen","popularity":37.59,"profile_path":"/ouhVhObwAxCfDfxFfoNoCK2EccQ.jpg","cast_id":13,"character":"Gandalf","credit_id":"52fe421bc3a36847f80046fb","order":1},{"adult":false,"gender":2,"id":110,"known_for_department":"Acting","name":"Viggo
        Mortensen","original_name":"Viggo Mortensen","popularity":30.349,"profile_path":"/vH5gVSpHAMhDaFWfh0Q7BG61O1y.jpg","cast_id":[...]
