---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/popular?language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - f147f269b881c1ffcda165f76b7c7e51
      X-Memc-Age:
      - '9043'
      X-Memc-Expires:
      - '13226'
      Etag:
      - W/"e196f4f3e100591c9536778ef67895ba"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/3V4kLQg0kSqPLctI5ziYWabAZYF.jpg","genre_ids":[878,28,12],"id":912649,"original_language":"en","original_title":"Venom:
        The Last Dance","overview":"Eddie and Venom are on the run. Hunted by both
        of their worlds and with the net closing in, the duo are forced into a devastating
        decision that will bring the curtains down on Venom and Eddie''s last dance.","popularity":13535.697,"poster_path":"/aosm8NMQ3UyoBVpSxyimorCQykC.jpg","release_date":"2024-10-22","title":"Venom:
        The Last Dance","video":false,"vote_average":6.4,"vote_count":1016},{"adult":false,"backdrop_path":"/tElnmtQ6yz1PjN1kePNl8yMSb59.jpg","genre_ids":[16,12,10751,35],"id":1241982,"original_language":"en","original_title":"Moana
        2","overview":"After receiving an unexpected call from her wayfinding ancestors,
        Moana journeys alongside Maui and a new crew to the far seas of Oceania and
        into dangerous, long-lost waters for an adventure unlike anything she''s ever
        faced.","popularity":5311.527,"poster_path":"/yh64qw9mgXBvlaWDi7Q9tpUB[...]
