---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?adult=false&language=en-US&page=1&query=The%20Toxic%20Avenger
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 5ec069def83afaac1bdf848d582c43f4
      X-Memc-Age:
      - '7627'
      X-Memc-Expires:
      - '17574'
      Etag:
      - W/"26cbf51a0e2d7faa70549b54dcdcd45f"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/ofIwwNjI0TDOPZeAOIXSrXJQqwi.jpg","genre_ids":[35,27,878],"id":15239,"original_language":"en","original_title":"The
        Toxic Avenger","overview":"A gang of thugs devise a cruel hoax that goes horribly
        wrong as Melvin, a nerdy emaciated janitor at the local health club, is cast
        through a third story window into a vat of hazardous toxic waste.","popularity":8.965,"poster_path":"/ann4b1EYCIBhARaXE8T2reNtPo1.jpg","release_date":"1984-05-15","title":"The
        Toxic Avenger","video":false,"vote_average":6.3,"vote_count":548},{"adult":false,"backdrop_path":"/qmMkaK6Tq75o6Wb6BVbr3pOnpbF.jpg","genre_ids":[28,35,27,878],"id":338969,"original_language":"en","original_title":"The
        Toxic Avenger","overview":"A horrible toxic accident transforms downtrodden
        janitor Winston Gooze into a new evolution of hero: THE TOXIC AVENGER! Now
        wielding a glowing mop with super-human strength, he must race against time
        to save his son and stop a ruthless and power-hungry tyrant bent on harnessing
        toxic superpowers to strengthen his polluted empire.","popularity":3.498,"poster_path":"/yoHmawu0XKxfch6py0xmU1NwpiH.jpg","release_date":"2023-09-21","title":"The
        Toxic Avenger","video":false,"vote_average":7.5,"vote_count":4},{"adult":false,"backdrop_path":"/rydjFBcArIdctIRD9kgRcoIyH6U.jpg","genre_ids":[35,27,878],"id":27601,"original_language":"en","original_title":"Citizen
        Toxie: The Toxic Avenger IV","overview":"A horrific explosion creates a dimensional
        portal between Tromaville and its dimensional mirror image, Amortville. While
        the Toxie is trapped in the mirror dimension, Tromaville comes under the control
        of his evil doppelganger, the Noxious Offender.","popularity":20.318,"poster_path":"/wR4VvqrRd2r9M4GYXPnoV02aUNG.jpg","release_date":"2001-11-01","title":"Citizen
        Toxie: The Toxic Avenger IV","video":false,"vote_average":6.3,"vote_[...]
